
@model IEnumerable<Api.Data.Student>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student List</title>
</head>
<body>
    @Html.ActionLink("Create", "Create")
    <div>
        @foreach (var student in Model)
        {
        <div>
            <p>@student.Name</p>
            <p>@student.PhoneNumber</p>
            <p>@student.BirthDate</p>

            <p>@Html.ActionLink("edit", "UpdateStudent", new { id = student.Id })</p>
            <p>@Html.ActionLink("delete", "Delete", new { id = student.Id })</p>
            <p>@Html.ActionLink("checkHomeWork", "Check", new { id = student.Id })</p>

        </div>
            <p>@Html.ActionLink("assign", "Assign", "Assignment", new { id = student.Id })</p>
        }
    </div>
</body>
</html>
