
@model IEnumerable<Models.Models.Student>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student List</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>@Html.ActionLink("Create student", "Create")</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>BirthDate</th>
            <th>Actions</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.PhoneNumber</td>
                <td>@student.BirthDate</td>
                <td>
                    @Html.ActionLink("edit", "UpdateStudent", new { id = student.Id })
                    @Html.ActionLink("delete", "Delete", new { id = student.Id })
                    @Html.ActionLink("checkHomeWork", "Check", new { studentId = student.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
