@using Final.ViewModel
@model Final.ViewModel.AssignStudentsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assign</title>
</head>
<body>
    <div>
        <p>@Model.CourseName</p>
        <p>@Model.StartDate</p>
        <p>@Model.StartDate</p>
        <form asp-action="Assign" >
            @Html.HiddenFor(m=>Model.Id)
            @for (int i = 0; i < Model.Students.Count; i++)
            {
                @Model.Students[i].Name
                @Html.CheckBoxFor(m=>Model.Students[i].IsChecked)
                @Html.HiddenFor(m=>Model.Students[i].Id)
                <br />
            }
            <p>
                <input type="submit" value="Submit" style="width: 20%; height:40px" />
            </p>
        </form>
    </div>
</body>
</html>
